.App {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 2rem;
	aside {
		grid-column-start: 1;
		img {
			display: block;
			width: 35%;
			margin: 30px auto;
		}
	}
	main {
		grid-column-start: 2;
		.bottom-container {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-auto-rows: 200px;
			p {
				.price-number {
					color: red;
					font-size: 20pt;
					font-weight: bold;
				}
			}
		}
	}
}
