.App {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 2rem; }
  .App aside {
    grid-column-start: 1; }
    .App aside img {
      display: block;
      width: 35%;
      margin: 30px auto; }
  .App main {
    grid-column-start: 2; }
    .App main .product-name {
      width: 80%; }
    .App main .bottom-container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-auto-rows: 150px; }
      .App main .bottom-container p .price-number {
        color: #ff0000;
        font-size: 20pt;
        font-weight: bold; }
