.App {
	display: grid;
	grid-template-columns: 40% 60%;
	.side-image-container {
		grid-column-start: 1;
	}
	main {
		grid-column-start: 2;
		.bottom-container {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-auto-rows: 200px;
		}
	}
}
