.App {
  display: grid;
  grid-template-columns: 40% 60%; }
  .App .side-image-container {
    grid-column-start: 1; }
  .App main {
    grid-column-start: 2; }
    .App main .bottom-container {
      display: grid;
      grid-template-columns: 50% 50%; }
